// flex对齐 'center'：垂直水平对齐，'x'：水平对齐，'y'：垂直对齐 'space-between'：水平左右对齐
@mixin flex_layout($layout: center) {
  display: flex;
  @if ($layout == center) {
    justify-content: center;
    align-items: center;
  } @else if ($layout == space-between) {
    justify-content: space-between;
  } @else if ($layout == x) {
    justify-content: center;
  } @else {
    align-items: center;
  }
}

// 单行超出省略号
@mixin omit {
  overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// 多行超出省略号
@mixin omit2 {
  word-break: break-fill;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

// 设置宽高 'auto' || 'fill' || number 
@mixin set_w_h($w: fill, $h: fill) {
  @if ($w == fill) {
    width: 100%;
  } @else if ($w == auto) {
    width: auto;
  } @else {
    width: #{$w}px;
  }
  @if ($h == fill) {
    height: 100%;
  } @else if ($h == auto) {
    height: auto;
  } @else {
    height: #{$h}px;
  }
}

// 悬浮变化
@mixin cursor_hover {
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

// 悬浮阴影 $color：颜色
@mixin box_shadow($color: #cccccc) {
  transition: ease var(--pdd-transition-duration);
  &:hover {
    box-shadow: 0 0 10px $color;
  }
}